<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Welcome</title>
</head>
<body>
	<table style="with: 50%">
		<tr>
			<td>Reference Number:</td>
			<td th:text="${referenceNumber}"></td>
		</tr>
		<tr>
			<td></td>
			<td><a th:href="@{/transfer/showConfirm}">Next</a></td>
		</tr>
	</table>
</body>
</html>