<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Welcome</title>
</head>
<body>
	All Transactions
	<div class="row" th:fragment="article-list" th:if="${transactions != null && !transactions.isEmpty()}">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table id="link-list" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <td>Type</td>
					<td>Date</td>
					<td>Amount</td>
					<td>Destination Account</td>
					<td>Reference Number</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction: ${transactions}">
				    <td>
						<span th:if="${transaction.type} == '1'" th:text="Withdraw" ></span> 
						<span th:if="${transaction.type} == '2'" th:text="Transfer" ></span> 
					</td>
					<td th:text="${#temporals.format(transaction.date, 'dd-MMM-yyyy HH:mm')}"></td>
					<td th:text="${transaction.amount}"></td>
					<td th:text="${transaction.destinationAccountNum}"></td>
					<td th:text="${transaction.referenceNumber}"></td>
				</tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
<div class="row" th:fragment="pagination">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                        <a class="page-link" th:href="@{|/transaction/getAllTransactions/page/${pageNumber}|}" th:text=${pageNumber}>1</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
</html>