<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Welcome</title>
</head>
<body>
	Transaction failed!!!
	<span th:text="${error}" ></span>
</body>
</html>