<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Welcome</title>
</head>
<body>
	Transaction
	<table border="1" style="with: 50%; border-collapse: collapse;">
		<tr>
			<td>Type</td>
			<td>Date</td>
			<td>Amount</td>
			<td>Destination Account</td>
			<td>Reference Number</td>
		</tr>
		<tr th:each="transaction: ${transactions}">
		    <td>
				<span th:if="${transaction.type} == '1'" th:text="Withdraw" ></span> 
				<span th:if="${transaction.type} == '2'" th:text="Transfer" ></span> 
			</td>
			<td th:text="${#temporals.format(transaction.date, 'dd-MMM-yyyy HH:mm')}"></td>
			<td th:text="${transaction.amount}"></td>
			<td th:text="${transaction.destinationAccountNum}"></td>
			<td th:text="${transaction.referenceNumber}"></td>
		</tr>
		<tr>
			<td><a th:href="@{/transaction}">Transaction</a></td>
			<td><a th:href="@{/}">Exit</a></td>
		</tr>
	</table>
</body>
</html>