<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Welcome</title>
</head>
<body>
	OTHER WITHDRAW	
	<form th:action="@{/other/doWithdraw}">
		<table style="with: 50%">
			<tr>
				<td>Enter amount:</td>
				<td><input type="text" name="amount" /></td>
				<td><input type="submit" value="Send" /></td>
			</tr>
			<tr>
				<td></td>
				<td th:text="${error}"></td>
			</tr>
		</table>
	</form>
</body>
</html>