<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Welcome</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    Transaction
	<table style="with: 50%">
			<tr>
				<td><a th:href="@{/withdraw}">Withdraw</a></td>
			</tr>
			<tr>
				<td><a th:href="@{/transfer}">Fund Transfer</a></td>
			</tr>
			<tr>
				<td><a th:href="@{/transaction/getLastTransactions}">Get last 10 transactions</a></td>
			</tr>
			<tr>
				<td><a th:href="@{/transaction/getAllTransactions/page/1}">All transactions</a></td>
			</tr>
			<tr>
				<td><a th:href="@{/}">Exit</a></td>
			</tr>
		</table>
</div>
</body>
</html>