<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Welcome</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Login page</h1>
				<form th:action="@{/login}" method="post" th:object="${loginForm}">
					<label for="pin">Account Number</label>: 
					<div class="form-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span> <input
                       type="text" class="form-control" th:field="*{accountNumber}"
                       placeholder="Account Num" />
                       <span class="red" th:if="${#fields.hasErrors('accountNumber')}"
                    th:errors="*{accountNumber}"></span>
					</div>					
					<div class="form-group">
						<label for="pin">PIN</label>: 
							<span class="input-group-addon"><i class="fa fa-lock"></i></span> <input
                        type="password" class="form-control" th:field="*{pin}"
                        placeholder="Pin" />
                        <span class="red" th:if="${#fields.hasErrors('pin')}"
                    th:errors="*{pin}"></span>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-info" value="Log In">
							</div>
						</div>
					</div>
					<div th:if="${error}">
						<div class="alert alert-danger"><span th:text="${error}" ></span></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>