<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Welcome</title>
</head>
<body>
	WITHDRAW	
	<table style="with: 50%">
		<tr>
			<td><a th:href="@{/withdraw/doWithdraw(amount='10')}">$10</a></td>
		</tr>
		<tr>
			<td><a th:href="@{/withdraw/doWithdraw?amount=50}">$50</a></td>
		</tr>
		<tr>
			<td><a th:href="@{/withdraw/doWithdraw?amount=100}">$100</a></td>
		</tr>
		<tr>
			<td><a th:href="@{/other}">Other</a></td>
		</tr>
		<tr>
			<td><a th:href="@{/withdraw/back}">Back</a></td>
		</tr>
		<tr>
			<td th:text="${error}"></td>
		</tr>
	</table>
</body>
</html>