<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Welcome</title>
</head>
<body>
	Summary
	<table style="with: 50%">
		<tr>
			<td>Date :</td> 
			<td th:text="${#temporals.format(transaction.date, 'dd-MMM-yyyy HH:mm')}"></td>
		</tr>
		<tr>
			<td>Withdraw :</td>
			<td th:text="${transaction.amount}"></td>
		</tr>
		<tr>
			<td>Balance :</td>
			<td th:text="${balance}"></td>
		</tr>
		<tr>
			<td><a th:href="@{/transaction}">Transaction</a></td>
		</tr>
		<tr>
			<td><a th:href="@{/}">Exit</a></td>
		</tr>
	</table>
</body>
</html>